<!DOCTYPE html>
<html>
<head>
  <title>Ecogardeners</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-right navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag('ecog-logo.png', :size => '60x60'), '/', :class => 'navbar-brand'%>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/programme">Programme</a></li>
            <li><a href="/links">Links</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pictures <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/peters-garden">Peter Woollam’s Garden</a></li>
              </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div id="user_header" class="navbar-right">
            <% if current_user %>
              Logged in as <%= current_user.email %>.
              <%= link_to "Log Out", logout_path %>
            <% end %>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <div class="jumbotron">
<%= yield %>
      </div>

    </div> <!-- /container -->


    <footer class="footer">
      <div class="container">
        <p class="text-muted">Website by <%=link_to 'Chris Field', 'http://christopherfield.co.uk' %></p>
      </div>
    </footer>


</body>
</html>
